<%- include('../layout/header') %>

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <h1 class="app-page-title">Edit Category</h1>
            <hr class="mb-4">
            <% if(messages.error) { %>
                <div class="alert alert-danger"><%- messages.error %></div>
            <% } %>
            <% if(messages.success) { %>
                <div class="alert alert-success"><%- messages.success %></div>
            <% } %>
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-8">
                    <div class="app-card app-card-settings shadow-sm p-4">
                        <div class="app-card-body">
                            <% if (category) { %>
                                <form class="settings-form" action="/admin/category/update/<%= category.id %>?_method=PUT" method="POST">
                                    <input type="hidden" name="id" id="edit-id" value="<%= category.id %>">
                                    <div class="mb-3">
                                        <label for="edit-name" class="form-label">Jenis Sampah</label>
                                        <input type="text" class="form-control" id="edit-name" name="jenis_sampah" value="<%= category.jenis_sampah %>" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit-harga" class="form-label">Harga Sampah</label>
                                        <input type="number" placeholder="0.00" name="harga_perkilo" min="0" value="<%= category.harga_perkilo %>" step="0.01" class="form-control" id="edit-harga" required></input>
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit-bulan" class="form-label">Periode (Bulan)</label>
                                        <input type="date" class="form-control" id="edit-bulan" name="periode_bulan" value="<%= category.periode_bulan %>" required>
                                    </div>
                                    <button type="submit" class="btn app-btn-primary">Save Changes</button>
                                </form>
                            <% } else { %>
                                <p>Category tidak ditemukan.</p>
                            <% } %>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layout/footer') %>
