<%- include('layout/header') %>
<section class="py-5" style="margin-top: 130px;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/uploads/user/<%= location.image %>" alt="<%= location.name %>" /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: <%= location.id %></div>
                <h1 class="display-5 fw-bolder"><%= location.name %></h1>
                <div class="info">
                    
                </div>
                <div class="media">
                    <label>Alamat:</label>
                    <p><%= location.address %></p>
                </div>
                <div class="media">
                    <label>Kota:</label>
                    <p><%= location.city %></p>
                </div>
                <div class="media">
                    <label>Provinsi:</label>
                    <p><%= location.province %></p>
                </div>
                <div class="media">
                    <label>E-mail:</label>
                    <p><%= location.email %></p>
                </div>
                <div class="media">
                    <label>Phone:</label>
                    <p><%= location.phone %></p>
                </div>
                <div class="media">
                    <label>Kategori:</label>
                    <p><%= location.category_name %></p>
                </div>
            </div>
        </div>
    </div>
</section>

  <%- include('layout/footer') %>
