<%- include('layout/header') %>

<!-- Page Header -->
<% if (article) { %>
<header class="masthead" style="background-image: url('/uploads/article/<%= article.foto %>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 class="text-light"><%= article.judul %></h1>
                    <span class="meta">
                        Posted by
                        <a href="#!"><%= article.penulis %></a>
                        <%= new Date(article.tanggal).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">   
                <p><%= article.isi %></p>
                <a href="#!" class="caption"><img class="img-fluid" src="/uploads/article/<%= article.foto %>" alt="..." /></a>
                <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
            </div>
        </div>
    </div>
</article>
<% } else { %>
    <p>No article found.</p>
<% } %>

<%- include('layout/footer') %>
